.links {
  text-decoration: none;
  color:rgb(184, 9, 9);
}

.box {
  height:90px;
  width: 180px;
  font-weight: 500;
}

.locate {
  position: absolute;
  top: 4rem;
  right: 0.5rem;
  background: none;
  border: none;
  z-index: 10;
}

.locate img {
  width: 30px;
  cursor: pointer;
}
